<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Cart</h1>
            <div class="navts">
                <a href="/index"><h3>Add More</h3></a>
                <a href="/logout"><h3>Log Out</h3></a>
            
            </div>
        </nav>
    </header>
    <div class="cart_heading">
        <h2>
          Your Orders are heree...!
        </h2>
      </div>
        <div class="products">
            <div class="grid">
              <% cart.forEach(function(item){ %>
              <div>
            <div class="grid-item">
              <img src="images/Shakespeare.png" class="book-image">
              <h3> <%= item.name %></h3>
              <p class="book-price">$<%= item.price %></p>
              <p class="book-description"> <%= item.description %></p>
          </div>
          <form method="post" action="/edit_product_quantity">
            <input type="hidden" value="<%= item.id %>" name="id">
            <input type="submit" value="-" class="edit-btn" name="decrease_product_quantity">
            <input type="text" name="quantiy" class="quant" value="<%= item.quantity %>" readonly>
            <input type="submit" value="+" class="edit-tn" name="increase_product_quantity">
        </form>
        <form method="post" action="/remove_products">
            <input type="hidden" name="id" value="<%= item.id %>">
            <input type="submit" name="remove_btn" class="remove-btn" value="Remove">
          </form>
        <span class="product-price">$<%= item.price *item.quantity %></span>
              </div>
    <%}) %>
    <div class="cart-total">
        <table>
            <tr>
                <td>Total</td>
                <td>
                    <%= total %>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>