<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Store</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>Books</h1>
            <div>
                <a href="#">Logout</a>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="text">
            <p>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2><br>
            <h4> Sed iaculis, justo auctor efficitur varius, elit lectus convallis libero, id dapibus nibh est id
                ligula.</h4><br> Nam fringilla erat eget viverra rhoncus. Aenean varius,<br>
            leo vel congue gravida, lectus enim facilisis tellus, at dictum magna quam eget dolor. In vel velit mi. Sed
            vel velit vel nulla interdum pharetra.
            Donec facilisis turpis ut libero egestas, in luctus leo commodo. Sed gravida elit at justo posuere tempor.
            </p>
        </div>
        <div class="image-container">
            <img src="images/Shakespeare.png" class="image">
        </div>
    </div>
    <div class="product_heading">
        <h2>
          Top List
        </h2>
      </div>
      <div class="products">
          <div class="grid">
            <% result.forEach(function(item) { %>
            <div>
          <div class="grid-item">
            <img src="images/Shakespeare.png" class="book-image">
            <h3> <%= item.name %></h3>
            <p class="book-price">$<%= item.price %></p>
            <p class="book-description"> <%= item.description %></p>
        </div>
        <form action="/add_to_cart" method="post">    
            <input type="hidden" name="id" value="<%= item.id %>">
            <input type="hidden" name="name" value="<%= item.name %>">
            <input type="hidden" name="price" value="<%= item.price %>">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="image" value="<%= item.image %>">
            <input type="submit" value="Buy" class="btn-box ">
        </form>
    </div>
    <% })%>
        </div>
    </div>
      
</body>

</html>